.App {
  text-align: center;
  margin: 0;
  padding: 0%;
  
 
}
html{
  overflow:hidden;
  margin: 0px;
  padding: 0px;
  background-color: white;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, yellow, blue );
  background-size: 400% 400%;
  text-align: center;
  min-width: 100vh;
  animation: bg 20s infinite linear;
}
header{
  position: relative;
  
  z-index: -1;
  max-height: 100vh;
}


button, input{
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  border: 2px black solid;
  transition: .3s;
}
button{
  cursor: pointer;
  background-color: white;
}
button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

div.diw{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  
  min-height: 50vh;
  min-width: 50vh;
  border: 2px solid black;
  text-align: center;
}



@keyframes bg {
  
  25%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 100%;

  }
  
  
}

img.topimg{
  position: relative;
  min-width: 100vh;
  
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  
  
}
h2{
  font-size: 30px;
}
p{
  font-family: 'Roboto', sans-serif;
 font-size: 20px;
}