.App {
  text-align: center;
  margin: 0;
  padding: 0%;
  
 
}
html{
  overflow:hidden;
  margin: 0px;
  padding: 0px;
  background-color: white;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, yellow, blue );
  background-size: 400% 400%;
  text-align: center;
  min-width: 100vh;
  animation: bg 20s infinite linear;
  
  
}
header{
  position: relative;
  
  z-index: -1;
  max-height: 100vh;
}


button, input{
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  border: 2px black solid;
  transition: .3s;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
}
button{
  cursor: pointer;
  background-color: white;
}
button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

section.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  
  min-height: 50vh;
  min-width: 50vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 2%;
  text-align: center;
  padding: 20px;
  font-family: 'Merriweather', serif;

}



@keyframes bg {
  
  25%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 100%;

  }
  
  
}

img.topimg{
  position: relative;
  min-width: 100vh;
  
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  
  
}

h2{
  font-size: 30px;
}
p{
  font-family: 'Roboto', sans-serif;
 font-size: 20px;
}

